[user]
	name = Igor Tatarintsev
	email = ietatarin@gmail.com
[push]
	default = current
[pull]
	default = matching
[core]
	autocrlf = false
	safecrlf = false
	editor = /usr/bin/vim
	pager = delta
[gui]
	encoding = utf-8
[interactive]
	diffFilter = delta --color-only
