[user]
	name = Igor Tatarintsev
	email = ietatarin@gmail.com
[push]
	default = current
[pull]
	default = matching
	ff = only
[core]
	autocrlf = false
	safecrlf = false
	editor = nvim
	pager = delta
[gui]
	encoding = utf-8
[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = master
