snippet php
	<?php
snippet ar
	array(${1})
snippet ph
	<?php ${1}; ?>
snippet phvd
	<?php var_dump(${1}); ?>
snippet vdd
	var_dump(${1});die();
snippet phfor
	<?php foreach ($${1:items} as $${2:$1}): ?>
	<?php endforeach; ?>
snippet phif
	<?php if ($${1}): ?>
	<?php endif; ?>
