snippet db
	Drupal.behaviors.${1:module_name} = {
		attach: function (context, settings) {
			${2}
		}
	}

snippet dbj
	(function ($) {
		Drupal.behaviors.${1:module_name} = {
			attach: function (context, settings) {
				${2}
			}
		}
	})(jQuery);
