snippet vuestore
const state = {}

const getters = {}

const actions = {}

const mutations = {}

export default {
  state,
  getters,
  actions,
  mutations,
}
endsnippet

snippet cl
console.log(${0:${VISUAL}})
endsnippet

snippet cw
console.warn(${0:${VISUAL}})
endsnippet

snippet ci
console.info(${0:${VISUAL}})
endsnippet

snippet ce
console.error(${0:${VISUAL}})
endsnippet
